
.header {
  display: flex;
  justify-content: flex-end;
  padding: 38px 25px;
}

.body {
  display: flex;
  flex-direction: column;
  height: 450px;
  .title {
    font-size: 50px;
    color: #000;
  }
  .content {
    margin-top: 20px;
    flex: 1;
  }
}

@mixin overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba($color: #000, $alpha: 0.3);
}

$float-layout-timer: 300ms;

.at-float-layout {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 10;
  transition: visibility $float-layout-timer cubic-bezier(0.36, 0.66, 0.04, 1);

  /* elements */
  &__overlay {
    @include overlay;
    opacity: 0;
    transition: opacity 150ms ease-in;
  }

  &__container {
    position: absolute;
    bottom: 0;
    border-radius: 30px 30px 0 0;
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
    max-height: 828px;
    min-height: 650px;
    background-color: #fff;
    transform: translate3d(0, 100%, 0);
    transition: transform $float-layout-timer cubic-bezier(0.36, 0.66, 0.04, 1);
  }

  .layout {
    &-header {
      position: relative;

      &__title {
        display: block;
        padding-right: 80px;
      }

      &__btn-close {
        position: absolute;
        padding: 8px;
        top: 50%;
        width: 40px;
        height: 100%;
        line-height: 1;
        transform: translate(0, -50%);

        &::before,
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          display: inline-block;
          width: 36px;
          height: 2px;
          border-radius: 1px;
        }

        &::before {
          transform: translate3d(-50%, -50%, 0) rotate(45deg);
        }

        &::after {
          transform: translate3d(-50%, -50%, 0) rotate(-45deg);
        }
      }
    }

    &-body {
      max-height: 828px;
      min-height: 650px;

      &__content {
        max-height: 798px;
        min-height: 484px;
      }
    }
  }

  /* modifiers */
  &--active {
    visibility: visible;
    z-index: 9999;

    .at-float-layout__overlay {
      opacity: 1;
    }

    .at-float-layout__container {
      transform: translate3d(0, 0, 0);
    }
  }
}
