@import '@/styles/index.scss';

.box {
  @include flex-start(row);
  align-items: center;
  height: 100rpx;

  .accordion {
    border: none;
    height: 100%;

    :global {
      .at-accordion__header {
        @include flex-start(row);
        height: 100%;
        align-items: center;
        padding: 0 24px;
        width: 150px;
        margin-right: $spacing-v-xl;
        @include text-minor($font-size-base);

        .at-icon {
          @include text-minor($font-size-base);
        }
      }

      .at-accordion__info {
        text-align: center;
      }

      .at-accordion__info {
        margin-right: $spacing-v-xs;
      }

      .at-accordion__content {
        z-index: 999;
        width: 100%;
        position: absolute;
        left: 0;
      }

      .at-tabs--vertical .at-tabs__header {
        width: 220px;
      }

      .at-accordion__content::after {
        display: none;
      }

      .at-tabs__item {
        background: #f5f7f9;
        justify-content: flex-start;
      }

      .at-tabs__item--active {
        @include text-minor($font-size-base);
        color: #50c0ff;
        background: #fff;
      }
    }

    .headerCenter {
      width: 100%;
      height: 100%;
      background: #fff;
      .paneCenter {
        width: 100%;
        padding: 24px $spacing-v-xl;
        box-sizing: border-box;
        @include flex-between(row);
        @include text-minor($font-size-base);
        align-items: center;
      }
    }
  }

  .activeAccordion {
    :global {
      .at-accordion__header {
        color: #50c0ff;
      }
    }
  }

  .mark {
    width: 100%;
    position: absolute;
    height: 60%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 888;
    bottom: 0;
    transition: all 4s;
  }
}
